{% extends "dashboard/base_dashboard.html" %}

{% block extended_scripts %}
  <script type="text/javascript">
    jQuery(document).ready(function($) {

      var Dashboard = function() {
        this.dashboard_data = {};
      };
      
      Dashboard.prototype.load_data = function(data) {
        for (var i = 0; i < data.length; i++) {
          var panel_data = data[i],
              panel_div = $('#dashboard-' + panel_data.id);
          if (!this.dashboard_data.hasOwnProperty(panel_data.id)) {
            this.dashboard_data[panel_data.id] = {};
          }
        }
      };
      
      var d = new Dashboard();
      d.load_data({{ panel_data }});
    
    });
  </script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content_header %}Dashboard{% endblock %}

{% block content %}
  <div id="dashboard">
    {% for panel in panel_list %}
      <div class="panel">
        <h3>{{ panel.title }}</h3>
        <div class="panel-data" id="dashboard-{{ panel.id }}"></div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
